<h1>Please Sign Up</h1>

<% @errors  && @errors.each do |m| %>
  <li><%=m%></li>
<%end%>

<form  action="/signup" method="post">
  <p>Username: <input type="text" name="user[username]"></p>
  <p>Password: <input type="password" name="user[password]"></p>
  <input type="submit" value="Sign Up">
</form>
