<h1>Edit Item</h1>

<form action="/songs/<%=@song.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Item Name: </label>
  <input type="text" name="song[name]" value="<%=@song.name%>">
  <label>Item Quantity: </label>
  <input type="text" name="song[quantity]"  value="<%=@song.quantity%>">
  <input type="submit">
  
</form>
