<h1>New Item</h1>

<%flash[:message] && flash[:message].each do |m| %>
  <li><%=m%></li>
<%end%>


<form action="/items" method="post">
  <label>Item Name: </label>
  <input type="text" name="item[name]">
  <label>Item Quantity: </label>
  <input type="text" name="item[quantity]">
  <input type="submit">
</form>
