  <h1>Song</h1>

<p><%= @song.name %> - <%= @song.quantity %></p>


<% if check_owner(@song) %>
  <form action="/Songs/<%=@item.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

  <a href="/items/<%=@song.id%>/edit">Edit this Song</a>
<%end %>